config.py
trained_model.py
__pycache__/**
*.png
*.model
*.simplemodel
*.traininfo
*.log
*.pyc
*.tmp
*.npy
*.vocab
*representation_samples_450_150_150_150.txt
analyses
*/stored_data/*
!analyse_repr_data/*
